/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
/* jQuery modal customization */
body {
    overflow: auto !important;
}

.jquery-modal.blocker {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100000000;
}

.jquery-modal.wpb-transparent {
    background-color: transparent;
}

.jquery-modal .wpb-banner {
    max-width: 650px;
    padding: 0;
    position: relative;
}

.jquery-modal .wpb-banner .wpb-content {
    line-height: 20px;
    font-size: 16px;
    padding: 0 1.5rem;
}

.jquery-modal .wpb-banner h3 {
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 1rem 1.5rem 1rem 1.5rem;
    letter-spacing: .2px;
}

.jquery-modal #wpb-banner-why h3, .jquery-modal #wpb-banner-limited h3 {
    padding-top: .7rem;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 1.3rem;
    border-radius: 8px 8px 0px 0px;
}

.jquery-modal .wpb-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

.jquery-modal .wpb-buttons button {
    border-radius: 8px;
    font-size: 24px;
    padding: .3rem 3rem .4rem;
    font-weight: normal;
    margin-bottom: .7rem;
    border: none;
    cursor: pointer;
}

.jquery-modal .wpb-buttons button:hover {
    background: rgba(var(--bg-color), 0.7);
}

.jquery-modal .wpb-buttons .wpb-more {
    text-decoration: underline;
    font-size: 16px;
    cursor: pointer;
}