/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.wpb-page-open {
    display: block;
}

.wpb-page-hidden {
    display: none;
}

iframe#banner_content_standard_ifr {
    min-height: 400px;
}

iframe#banner_content_why_ifr {
    min-height: 400px;
}

iframe#banner_content_confirm_ifr {
    min-height: 400px;
}

iframe#banner_content_limited_ifr {
    min-height: 400px;
}